/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body {
  background-color: #0E0F28;
  background-size: cover;
}

.App {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.clicker-game {
  background-color: #2A3EF4;
  color: #E4E5F2;
  padding: 30px;
  margin: 0 auto;
  max-width: 400px; 
  border-radius: 30px;
}

.click-button {
  background-color: #E4E5F2;
  color: #0E0F28;
  width: 250px; height: 250px; 
  border-radius: 50%;
  margin: 0 auto 30px;
  font-weight: bold;
  font-size: 2rem;
  cursor: pointer;
  border: 10px solid #bbbde8; 
  transition: transform 0.1s;
}

.click-button:active { transform: scale(0.95); }

.click-button:hover { 
  background-color: #d5d7f2;
  color: #0a0a1c; 
}

.buy-button {
  background-color: #E4E5F2;
  color: #0E0F28; 
  width: 300px; height: 75px;
  border: none; 
  border-radius: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.25rem;
  cursor: pointer;
  border: 4px solid #bbbde8; 
  transition: transform 0.1s;
}

.buy-button:active { transform: scale(0.97); }

.buy-button:hover { 
  background-color: #d5d7f2;
  color: #0a0a1c; 
}

.buy-button:disabled {background-color: #a7abdd; cursor: not-allowed;}

.restart-button {
  background-color: #E4E5F2;
  color: #0E0F28; 
  width: 300px; height: 75px;
  border: none; 
  border-radius: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.25rem;
  cursor: pointer;
  border: 4px solid #bbbde8; 
  transition: transform 0.1s;
}

.restart-button:active { transform: scale(0.97); }

.restart-button:hover { 
  background-color: #d5d7f2;
  color: #0a0a1c; 
}